backports.shutil-get-terminal-size==1.0.0
cement==2.10.12
cfoundation==0.2.1
checksum==1.0.2
checksumdir==1.1.4
colorama==0.3.9
cursor==1.2.0
enum34==1.1.6
halo==0.0.12
Jinja2==2.10
log-symbols==0.0.11
MarkupSafe==1.0
munch==2.3.2
pydash==4.5.0
PyYAML==3.12
six==1.11.0
spinners==0.0.19
termcolor==1.1.0
